.Home {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #CA2C68;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Home h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.Home p {
  text-align: center;
  font-size: small;
}